<!DOCTYPE html>
<html>
  <head>
    <title>Secret</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>

        <% if logged_in? %>
          <%= link_to "Page utilisateur", user_path(current_user), class:"nav-item nav-link" %>
          <%= link_to "Liste des utilisateurs", "/users", class:"nav-item nav-link" %>
          <%= link_to "Se délogger", logout_path, method: :delete, class:"nav-item nav-link" %>
        <% else %>
          <%= link_to "Se logger", login_path, class:"nav-item nav-link" %>
          <%= link_to "Nouvel utilisateur", new_user_path, class:"nav-item nav-link" %>
        <% end %>
      </div>
    </div>
  </nav>
    
  </br>



  <%= yield %>

  <div class="container" id="downhere">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

  </body>
</html>



